h1{text-align: center;}
table ,th,td{padding : 4px 17px 0px 17px;border: 1.5px solid; border-collapse: collapse; }
table.center {
     margin-left: auto;
     margin-right: auto;
     width: 755px ;
     height: 10px ;
 }
 tr { text-align: center;}
h3{padding-left: 380px;}